<style type="text/css" media="all">
.hide {
	display: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

.page_title {
	margin-bottom: 5px;
	padding-bottom: 5px;
	color: #666;
	/*background-color: #F5F5F5;*/
	border-bottom: dotted 1px #EAEAEA;
}
		.page_title h1 {
			font: italic bold 28px Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
			margin: 0;
			padding: 0 5px 3px 0;
			line-height: 24px;
			text-shadow: rgba(255,255,255,1) 0px 1px 0px;
		}
		.page_title h2 {
			font: italic normal 24px Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
			margin: 0;
			padding: 0 5px 3px 0;
			line-height: 24px;
			text-shadow: rgba(255,255,255,1) 0px 1px 0px;
		}
		.page_title h3 {
			font: bold 16px Georgia, Times, serif;
			color: #333;
		}
		.page_title h4 {
			font: italic bold 13px Georgia, Times, serif;
			color: #333;
		}
		/*.page_title a {
			color: #FFF;
		}*/
		.page_title img {
			vertical-align: middle;
		}
		.page_title ul {
			margin: 0;
			padding: 0 15px 0 0;
			list-style: none;
		}
		.page_title li {
			display: inline;
			padding: 0 10px;
			background: url('./image/nav_dot.gif') no-repeat right;
		}
		.page_title li.last {
			padding-right: 0;
			padding-right: 0;
			background: none;
		}

</style>