<{include file="$tpl_path/todo_css.html"}>

<{if $load_jquery}>
<{include file="$tpl_path/todo_css2.html"}>
<script type="text/javascript" src="<{$gui_url}>/javascript/jquery-1.3.2.min.js"></script>
<{/if}>
<script type="text/javascript" src="<{$gui_url}>/javascript/jquery.idTabs.js"></script>
<script type="text/javascript" src="<{$gui_url}>/javascript/jquery-ui-1.7.1.custom.min.js"></script>
<{include file="$tpl_path/todo_js.html"}>

<div id="msg" class="right hide"></div>
<div id="loading" class="right hide"><img src="<{$myurl}>/images/loading.gif"></div>

<div class="page_title">
	<div class="left">
		<h3><{$xoops_pagetitle}></h3>
	</div>
	<{*<div class="right">
		<ul>
			<{foreach from=$tag_list item=tag name=tag_list}>
			<li><a href="index.php?kwd=<{$tag.name}>"><{$tag.name}></a></li>
			<{/foreach}>
			<li class="last"><a href="index.php">All</a></li>
		</ul>
	</div>*}>
	<div class="clear"></div>
</div>

<!--  工作一覽 -->
<div id="page_tasks">
	<div id="tabs" class="tabs">
		<div class="report right">
			<{$smarty.const._AM_TODO_HAVE}> <span id="total"><{$task_count}></span> <{$smarty.const._AM_TODO_TASKS}>
		</div>
		<ul class="">
			<li><a href="#newtask"><{$smarty.const._AM_TODO_ADD}></a></li>
			<li><a href="#searchtask"><{$smarty.const._AM_TODO_SEARCH}></a></li>
		</ul>
		<div id="newtask">
			<form name="post_task"  id="post_task" onsubmit="return submitNewTask()">
				<select name="tag" style="">
					<option value="" selected="selected">-----</option>
					<{foreach from=$tag_list item=tag}>
					<option value="<{$tag.name}>"><{$tag.name}></option>
					<{/foreach}>
				</select>
				<input type="text" name="title" id="title" size="30" value="" />
				<input type="hidden" name="op" id="op" value="add" />
				<input type="submit" name="submit" value="<{$smarty.const._SUBMIT}>" />
			</form>
			<p>
			<a href="#" id="compl_show" onclick="return filterCompleted(1)"><{$smarty.const._AM_TODO_COMPLETED}></a>
			<a href="#" id="compl_hide" onclick="return filterCompleted(0)" class="hide"><{$smarty.const._AM_TODO_NOT_COMPLETED}></a>
			</p>
		</div>
		<div name="searchtask" id="searchtask">
			<form name="search_task"  id="search_task" onsubmit="return searchTasks()">
				<input type="text" name="kwd" id="kwd" size="30" value="" />
				<input type="hidden" name="op" id="op" value="search" />
				<input type="submit" name="submit" value="<{$smarty.const._SUBMIT}>" />
			</form>
			<p><{$smarty.const._AM_TODO_SEARCH_KWD}> <span id="searchbarkeyword"></span></p>
		</div>
	</div>
	
	<ul class="tasklist" id="tasklist">
	<{foreach from=$task item=task}>
		<li class="<{if $task.complete}>task-completed<{/if}>" id="taskrow_<{$task.id}>" ondblclick="editTask(<{$task.id}>)">
			<span class="task-actions">
				<a href="#" onclick="return editTask(<{$task.id}>)"><{$smarty.const._EDIT}></a>
				| <a href="#" onclick="return deleteTask(<{$task.id}>)"><{$smarty.const._DELETE}></a>
			</span>
			<input type="checkbox" onclick="completeTask(<{$task.id}>,this)"<{if $task.complete}> checked="checked"<{/if}> />
			<span class="task-through">
			<span class="task-prio <{$task.prio_class}>"><{$task.priority}></span>
			<{if $task.tag != ''}><span class="task-title">[<{$task.tag}>]</span><{/if}>
			<span class="task-title"><{$task.title}></span>
			<span class="task-date"><{$task.published}></span>
			<div class="task-note-block<{if $task.note == ''}> hide<{/if}>"><{$task.note}></div>
			</span>
		</li>
	<{foreachelse}>
		<li class="last">
		<{if $smarty.get.compl}><{$smarty.const._AM_TODO_NO_COMPLETED_TASK}><{else}><{$smarty.const._AM_TODO_NO_TASK}><{/if}>
		</li>
	<{/foreach}>
	</ul>
	<{*
	<div style="padding-top:10px;">
		
	</div>
	*}>
</div>

<!--  編輯工作 -->
<div id="page_taskedit" class="hide">

	<div id="tabs2" class="tabs">
		<ul class="">
			<li><a href="#edittask"><{$smarty.const._AM_TODO_TASK_EDIT}></a></li>
		</ul>
		<div id="edittask">
			<a href="#" onClick="return cancelEdit()"><{$smarty.const._AM_TODO_BACK_LIST}></a>
		</div>
	</div>

	<form onSubmit="return saveTask()" name="taskform" id="taskform">
	<input type="hidden" name="id" value="">
	<table class="flickr_table" width="100%" cellpadding="0" cellspacing="0">
		<tr>
			<td width="20%"><{$smarty.const._AM_TODO_TASK_PRIORITY}></td>
			<td width="80%">
				<select name="prio" style="width: 50px;">
					<option value="3">+3</option>
					<option value="2">+2</option>
					<option value="1">+1</option>
					<option value="0" selected="selected">0</option>
					<option value="-1">-1</option>
					<option value="-2">-2</option>
					<option value="-3">-3</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><{$smarty.const._AM_TODO_TAG}></td>
			<td>
				<select name="tag" style="">
					<option value="" selected="selected">-----</option>
					<{foreach from=$tag_list item=tag}>
					<option value="<{$tag.name}>"><{$tag.name}></option>
					<{/foreach}>
				</select>
			</td>
		</tr>
		<tr>
			<td><{$smarty.const._AM_TODO_TASK_TITLE}></td>
			<td><input type="text" name="title" value="" style="width: 250px;" maxlength="250"></td>
		</tr>
		<tr>
			<td><{$smarty.const._AM_TODO_TASK_NOTE}></td>
			<td><textarea name="note" cols="70" rows="6"></textarea></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
			<input type="hidden" name="id" value="">
			<input type="submit" name="submit" value="<{$smarty.const._SUBMIT}>">
			<input type="button" name="cancel" value="<{$smarty.const._CANCEL}>" onclick="return cancelEdit()">
			</td>
		</tr>
	</table>
	</form>

</div> 