<style type="text/css" media="all">
#loading img { vertical-align: middle; padding: 0 5px; }
#msg { color: #999999; }

.tabs {
	margin:0;
	padding:0;
	color:#111;
}
.tabs li { list-style:none; float:left; }
.tabs ul a {
	display:block;
	padding:6px 10px;
	text-decoration:none!important;
	margin:1px;
	margin-left:0;
	
	color:#444;
	background:#FFF;
}
	.tabs ul a:hover {
		color:#000;
		background:#FFF;
	}
.tabs ul a.selected {
	margin-bottom:0;
	color:#000;
	background: #F1F1F1;
	border-bottom:1px solid #F1F1F1;
	cursor:default;
}
.tabs div {
	padding:10px;
	*padding-top:5px;
	*margin-top:-10px;
	*margin-bottom:10px;
	clear:left;
	background: #F1F1F1;
}
.tabs div.report { background: transparent; padding-top:10px; *padding-top:12px; }
.tabs div a { }

div.small-bar {
	background: #F1F1F1;
	padding: 5px 10px;
}

.tasklist { 
	margin: 15px 0; 
	border: 1px dotted #E5E5E5;
}
.tasklist li {
	border-bottom: 1px dotted #E5E5E5;
	margin: 10px;
	padding: 0 10px 10px;
}
.tasklist li.last {
	border-bottom: 0;
	text-align: center;
	padding: 0;
}

li.task-completed span.task-through ,
li.task-completed div.task-note-block { text-decoration:line-through; }
.task-actions { float:right; font-size:8pt; }
.task-title {  }
.task-date { color:#999999; font-size:8pt; margin-left:3px;}
.task-note-block {
	margin-left:22px; color:#777777;
	background:url(./images/icon-note.png) left  2px no-repeat;
	padding-left:18px; padding-top:3px;
}

.task-prio { padding-left:2px; padding-right:2px; margin-left: 2px; margin-right:3px; }
.prio-neg { background-color:#3377ff; color:#ffffff; }
.prio-o { display:none; }
.prio-pos { background-color:#ff3030; color:#ffffff;  }

</style>