<style type="text/css" media="all">
.hide {
	display: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

.page_title {
	margin-bottom: 5px;
	padding-bottom: 5px;
	color: #666;
	/*background-color: #F5F5F5;*/
	border-bottom: dotted 1px #EAEAEA;
}
		.page_title h1 {
			font: italic bold 28px Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
			margin: 0;
			padding: 0 5px 3px 0;
			line-height: 24px;
			text-shadow: rgba(255,255,255,1) 0px 1px 0px;
		}
		.page_title h2 {
			font: italic normal 24px Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
			margin: 0;
			padding: 0 5px 3px 0;
			line-height: 24px;
			text-shadow: rgba(255,255,255,1) 0px 1px 0px;
		}
		.page_title h3 {
			font: bold 16px Georgia, Times, serif;
			color: #333;
		}
		.page_title h4 {
			font: italic bold 13px Georgia, Times, serif;
			color: #333;
		}
		/*.page_title a {
			color: #FFF;
		}*/
		.page_title img {
			vertical-align: middle;
		}
		.page_title ul {
			margin: 0;
			padding: 0 15px 0 0;
			list-style: none;
		}
		.page_title li {
			display: inline;
			padding: 0 10px;
			background: url('./image/nav_dot.gif') no-repeat right;
		}
		.page_title li.last {
			padding-right: 0;
			padding-right: 0;
			background: none;
		}

.flickr_table {
	width: 100%;
	background: transparent;
	color: #333;
}
		.flickr_table img {
			vertical-align: middle;
		}
		.flickr_table th, .flickr_table label  { 
			padding: 5px;
			vertical-align: top;
			text-align: right;
			color: #000;
		}
		.flickr_table th { 
			font-weight: bold;
		}
		.flickr_table td {
			padding: 5px;
			vertical-align: top;
		}
		.flickr_table tr.thead th{ 
			text-align: center;
			padding: 5px;
			color:#333;
			background-color:#F2F2F2;
		}
		.flickr_table tr.line th,
		.flickr_table tr.line td {
			border-bottom: 1px solid #EEE;
		}
		
		.list_style {
			background:#FFF;
			border:1px solid #EDEDED;
			border-collapse: separate;
		}
			.list_style tr,
			.list_style td {
				padding: 8px;
			}
			
		.flickr_table dl {
			border-bottom: 1px dotted #E5E5E5;
			margin: 0 0 5px;
			padding: 0px 0px 5px;
			font-size: 95%;
			line-height: 180%;
		}
		.flickr_table dl.last {
			border-bottom: 0;
			margin: 0;
			padding: 0;
		}
		.flickr_table dt {
			color: #00CC00;
			float: left;
			margin: 0;
			padding: 0;
			width: 70px;
		}
		.flickr_table dd {
			margin: 0;
			padding: 0 0 0 70px;
		}

</style>